.contact-page {
    .mapTitle {
        position: absolute;
        bottom: 525px;
        left: 0;
        z-index: 10;
        width: 100%;
        text-align: center;
        h3 {
            font-size: 40px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
        }
    }
    #map {
        width: 100%;
        height: 600px;
    }
    .content-page {
        display: flex;
        .desc-page {
            max-width: 50%;
            flex: 0 0 50%;
            padding: 100px 0px 200px 200px !important;
        }
        .contact-form {
            max-width: 50%;
            flex: 0 0 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #000;
                font-weight: 700;
                font-size: 15px;
            }
            ::-moz-placeholder {
                /* Firefox 19+ */
                color: #000;
                font-weight: 700;
                font-size: 15px;
            }
            :-ms-input-placeholder {
                /* IE 10+ */
                color: #000;
                font-weight: 700;
                font-size: 15px;
            }
            :-moz-placeholder {
                /* Firefox 18- */
                color: #000;
                font-weight: 700;
                font-size: 15px;
            }
            .your-name {
                input {
                    background-color: #dfdfdf;
                    outline: 0;
                    border: none;
                    border-radius: 25px;
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 10px 15px 10px 40px;
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                    background-image: url(../../img/formularz-osoba@2.png );
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 22px 22px;
                    padding-left: 40px;
                }
            }
            .your-email {
                input {
                    background-color: #dfdfdf;
                    outline: 0;
                    border: none;
                    border-radius: 25px;
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 10px 15px 10px 40px;
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                    background-image: url(../../img/formularz-mail@2.png );
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 22px 22px;
                    padding-left: 40px;
                }
            }
            .your-tel {
                input {
                    background-color: #dfdfdf;
                    outline: 0;
                    border: none;
                    border-radius: 25px;
                    width: 100%;
                    margin-bottom: 20px;
                    padding: 10px 15px 10px 40px;
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                    background-image: url(../../img/formularz-telefon@2.png );
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 22px 22px;
                    padding-left: 40px;
                }
            }
            .your-message {
                margin-bottom: 20px;
                textarea {
                    width: 100%;
                    border: none;
                    outline: 0;
                    height: 45px;
                    min-height: 45px;
                    max-height: 200px;
                    max-width: 100%;
                    min-width: 100%;
                    font-weight: 700;
                    border-bottom: 1px solid #cbcbcb;
                    padding: 10px 15px 10px 40px;
                }
            }
            input[type="submit"] {
                background-color: #ffa401;
                color: #000;
                border-radius: 20px;
                border: none;
                outline: none;
                padding: 10px 35px;
                font-weight: 700;
                transition: .4s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }
        }
    }
}

@media screen and ( max-width: 1399px) {
    .contact-page .content-page .desc-page {
        padding: 100px 0 200px 100px !important;
    }
}

@media screen and ( max-width: 1199px) {
    .contact-page .content-page .contact-form {
        padding-right: 15px;
        padding-left: 15px;
    }
    .single-page.contact-page .content-page .desc-page p {
        font-size: 18px;
    }
}

@media screen and ( max-width: 991px) {
    .single-page.contact-page {
        .bg-page {
            height: 450px;
        }
    }
    .contact-page .content-page {
        display: block;
    }
    .contact-page .content-page .desc-page {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        padding: 50px 0 50px 15px !important;
    }
    .contact-page .content-page .contact-form {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        padding-bottom: 30px;
    }
}

@media screen and ( max-width: 767px) {
    .contact-page {
        .mapTitle {
            h3 {
                font-size: 30px;
            }
        }
    }
}

@media screen and ( max-width: 575px) {
    .contact-page .mapTitle h3 {
        font-size: 25px;
    }
}