.rentcar {
    .left-side {
        background-color: #000;
        padding-left: 0px;
        padding-right: 0px;
        .flexContainer {
            overflow: hidden;
        }
        .headerTitle {
            p {
                font-size: 16px;
                color: #ffa401;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 0px;
                width: 100px;
                margin: 0 auto;
            }
        }
        .single-car {
            &:hover {
                cursor: pointer;
                .bg {
                    background-color: #111111;
                }
            }
            .bg {
                text-align: center;
                transition: .4s ease-in-out;
                padding: 15px 15px;
                position: relative;
                img {
                    max-height: 100px;
                    width: auto;
                }
                h3 {
                    font-size: 13px;
                    font-weight: 700;
                    color: #FFF;
                }
            }
        }
        .single-car.active {
            .bg {
                background-color: #111111;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY( -50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 25px 25px 25px 0;
                    border-color: transparent #ffffff transparent transparent;
                    z-index: 1;
                }
            }
        }
    }
    .right-side {
        .navCar {
            border-bottom: 1px solid #cbcbcb;
            border-top: 1px solid #cbcbcb;
            padding-left: 100px;
            padding-right: 100px;
            display: flex;
            margin-bottom: 20px;
        }
        .textOption {
            margin-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            p {
                margin-bottom: 0px;
            }
        }
        .option {
            padding-right: 20px;
            margin-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
            p {
                margin-bottom: 0px;
            }
        }
        .option.active {
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                position: absolute;
                bottom: -2px;
                left: 0px;
                border-bottom: 3px solid #ffa401;
            } // border-bottom: 2px solid #ffa401;
            p {
                font-weight: 700;
            }
        }
        .option.dowolna {
            p {
                padding-left: 40px;
                background-image: url(../../img/ikona-skrzynia-dowolna-ciemna@2.png );
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 40px 40px;
            }
        }
        .option.automatyczna {
            p {
                padding-left: 40px;
                background-image: url(../../img/ikona-skrzynia-automatyczna-ciemna@2.png );
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 40px 40px;
            }
        }
        .option.manualna {
            p {
                padding-left: 40px;
                background-image: url(../../img/ikona-skrzynia-manualna-ciemna@2.png );
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 40px 40px;
            }
        }
        .loopCar {
            padding-left: 100px;
            padding-right: 100px;
            .single-car {
                text-align: center;
                margin-bottom: 20px;
                overflow: hidden;
                &:hover {
                    .bg {
                        &:after {
                            width: 100%;
                            height: 100%;
                            border-left: 3px solid #000;
                            border-bottom: 3px solid #000;
                        }
                        &:before {
                            width: 100%;
                            height: 100%;
                            border-right: 3px solid #000;
                            border-top: 3px solid #000;
                        }
                    }
                }
                .bg {
                    position: relative;
                    padding: 20px 20px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    &:after {
                        content: '';
                        display: block;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        border-left: 1px solid #b5b5b5;
                        border-bottom: 1px solid #b5b5b5;
                        transition: .4s ease-in-out;
                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        border-right: 1px solid #b5b5b5;
                        border-top: 1px solid #b5b5b5;
                        transition: .4s ease-in-out;
                    }
                    img {
                        width: auto;
                        max-height: 200px;
                    }
                    h3 {
                        font-size: 26px;
                        color: #000;
                        font-weight: 700;
                        margin-top: 15px;
                    }
                    .desc {
                        display: flex;
                        justify-content: center;
                        .optionCar {
                            padding-left: 7px;
                            padding-right: 7px;
                            border-right: 1px solid #000;
                            p {
                                font-size: 13px;
                                margin-bottom: 0px;
                                line-height: 11px;
                                color: #000;
                            }
                            &:nth-last-child(1) {
                                border-right: none;
                            }
                        }
                    }
                    .price {
                        background-color: #ffa401;
                        display: inline-block;
                        padding: 5px 60px;
                        border-radius: 25px;
                        margin-top: 20px;
                        span {
                            font-size: 15px;
                            font-weight: 700;
                            color: #000;
                        }
                        p {
                            display: inline-block;
                            color: #000;
                            margin-bottom: 0px;
                            font-size: 30px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 1700px) {
    .rentcar .right-side .loopCar .single-car .bg .desc .optionCar {
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media screen and ( max-width: 1600px) {
    .rentcar .right-side .loopCar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .rentcar .right-side .navCar {
        padding-left: 50px;
        padding-right: 50px;
    }
    .rentcar .right-side .loopCar .single-car .bg {
        padding: 20px 10px;
    }
}

@media screen and ( max-width: 1500px) {}

@media screen and ( max-width: 1399px) {
    .rentcar .right-side .loopCar .single-car {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .rentcar .left-side .single-car .bg {
        padding: 10px 15px;
        img {
            max-height: 70px;
        }
    }
}

@media screen and ( max-width: 1199px) {
    .rentcar .right-side .loopCar .single-car .bg .price p {
        font-size: 25px;
    }
    .rentcar .right-side .loopCar .single-car .bg img {
        max-height: 150px;
    }
    .rentcar .left-side .single-car.active .bg:after {
        border-width: 15px 15px 15px 0;
    }
}

@media screen and ( max-width: 991px) {
    .rentcar .right-side .loopCar .single-car .bg .price p {
        font-size: 20px;
    }
    .rentcar .right-side .loopCar .single-car .bg h3 {
        font-size: 21px;
    }
    .rentcar .right-side .loopCar .single-car .bg img {
        max-height: 120px;
    }
    .rentcar .right-side .loopCar .single-car:hover .bg:before {
        border-right: 2px solid #000;
        border-top: 2px solid #000;
    }
    .rentcar .right-side .loopCar .single-car:hover .bg:after {
        border-left: 2px solid #000;
        border-bottom: 2px solid #000;
    }
    .rentcar .right-side .loopCar .single-car .bg .desc .optionCar p {
        font-size: 11px;
    }
    .rentcar .right-side .loopCar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rentcar .right-side .navCar {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rentcar .right-side .option {
        margin-right: 0px;
    }
    .rentcar .right-side .textOption {
        margin-right: 0px;
    }
}

@media screen and ( max-width: 767px) {
    .rentcar .left-side .single-car.btn-all {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .flexContainer {
        display: flex;
        flex-wrap: wrap;
    }
    .rentcar .left-side .headerTitle p {
        width: 100%;
    }
    .rentcar .left-side .single-car .bg img {
        max-height: 80px;
    }
    .rentcar .left-side .single-car {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .rentcar .left-side .single-car.active .bg:after {
        border-width: 15px 12.5px 0 12.5px;
        border-color: #ffffff transparent transparent transparent;
        left: 50%;
        transform: translateX( -50%);
        top: 0px;
    }
    .rentcar .right-side .loopCar .single-car {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .rentcar .right-side .loopCar {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rentcar .right-side .navCar {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rentcar .right-side .option p {
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .rentcar .right-side .textOption p {
        font-size: 13px;
        font-weight: 700;
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .rentcar .right-side .option {
        flex: 0 0 50%;
        max-width: 50%;
        margin-right: 0px;
    }
    .rentcar .right-side .textOption {
        flex: 0 0 50%;
        max-width: 50%;
        margin-right: 0px;
        padding-left: 15px;
    }
    .rentcar .right-side .navCar {
        border-top: 0px;
        flex-wrap: wrap;
    }
}

@media screen and ( max-width: 575px) {
    .rentcar .right-side .option p,
    .rentcar .right-side .textOption p {
        font-size: 12px;
    }
}