.header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    .header__logo {
        padding-top: 10px;
        a {
            &:hover {
                img {
                    opacity: 0.6;
                }
            }
            img {
                transition: .4s ease-in-out;
            }
        }
    }
}

.drawer-open {
    .carPage {
        .drawer-hamburger-icon {
            background-color: transparent;
        }
        .drawer-hamburger-icon:after,
        .drawer-hamburger-icon:before {
            background-color: #FFF !important;
        }
    }
}

.home,
.page {
    .header__navigation {
        .tel {
            .black {
                display: none;
            }
        }
        .adress {
            .black {
                display: none;
            }
        }
    }
}

.carPage {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    .header__logo {
        padding-bottom: 10px;
    }
    .drawer-hamburger-icon,
    .drawer-hamburger-icon:after,
    .drawer-hamburger-icon:before {
        background-color: #000;
    }
    .header__navigation {
        .tel {
            p {
                color: #000;
                font-weight: 700;
            }
            .white {
                display: none;
            }
            .black {
                display: block;
            }
        }
        .adress {
            p {
                color: #000;
                font-weight: 700;
            }
            .white {
                display: none;
            }
            .black {
                display: block;
            }
        }
        .buttonDrawer {
            .buttonText {
                color: #000;
                font-weight: 700;
            }
        }
    }
}

.header__navigation {
    display: flex;
    justify-content: flex-end;
    .buttonDrawer {
        display: flex;
        .buttonText {
            color: #FFF;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .tel {
        margin-right: 50px;
        display: flex;
        align-items: center;
        padding-top: 2px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            padding-left: 30px;
            padding: 10px 10px 10px 0px;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 0px;
                height: 1px;
                background-color: #FFF;
                transition: .4s ease-in-out;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
            img {
                width: 22px;
                height: 22px;
            }
            p {
                margin-bottom: 0px;
                margin-left: 15px;
            }
        }
    }
    .adress {
        display: flex;
        align-items: center;
        margin-right: 50px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            padding-left: 30px;
            padding: 10px 10px 10px 0px;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 0px;
                height: 1px;
                background-color: #FFF;
                transition: .4s ease-in-out;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
            &:hover {
                &:after {
                    width: 100%;
                }
            }
            img {
                width: 16px;
                height: 22px;
            }
            p {
                margin-bottom: 0px;
                margin-left: 15px;
            }
        }
    }
    .drawer--right {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
}

ul {
    list-style-type: none;
    li {
        display: inline-block;
    }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {
    .carPage .header__navigation .adress a {
        font-size: 15px;
    }
    .carPage .header__navigation .menu a {
        font-size: 15px;
    }
    .header__navigation .tel {
        margin-right: 10px;
        a {
            font-size: 13px;
            p {
                margin-left: 5px;
            }
        }
    }
    .header__navigation .adress {
        margin-right: 10px;
        a {
            font-size: 13px;
            p {
                margin-left: 5px;
            }
        }
    }
    .header__navigation .buttonDrawer .buttonText {
        font-size: 14px;
    }
}

@media screen and ( max-width: 991px) {
    .header__navigation .tel a:hover:after,
    .header__navigation .adress a:hover:after {
        display: none;
    }
    .header__navigation .tel {
        padding-top: 0px;
        margin-right: 25px;
        a {
            p {
                display: none;
            }
        }
    }
    .header__navigation .adress {
        margin-right: 25px;
        a {
            p {
                display: none;
            }
        }
    }
}

@media screen and ( max-width: 767px) {
    .nav-position {
        width: 100%;
    }
}

@media screen and ( max-width: 575px) {
    .header__navigation {
        padding-left: 0px;
    }
    .header__logo {
        padding-right: 0px;
        padding-left: 5px;
    }
    .header__navigation .adress {
        margin-right: 4px;
        a {
            img {
                margin-top: 0px;
            }
        }
    }
    .header__navigation .tel {
        margin-right: 15px;
        a {
            img {
                margin-top: 0px;
            }
        }
    }
    .header__navigation .buttonDrawer .buttonText {
        font-size: 12px;
    }
}

@media screen and ( max-width: 350px) {
    .header__navigation .adress,
    .header__navigation .tel {
        a {
            padding-right: 0px;
        }
    }
}
