.drawer-hamburger {
  position: relative;
  padding: 0px .75rem 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #FFF;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  width: 100%;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  width: 20px;
  height: 3px;
}

.drawer-hamburger-icon:after {
  top: 7px;
}

.drawer-hamburger-icon:before {
  top: -7px;
}

.drawer-menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  transition: all 1s !important;
  .mobile-menu {
    padding-left: 0px;
  }
}

.drawer-nav {
  transition: all 1s !important;
  background-color: transparent;
}

.nav-position {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding-left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.drawer {
  li {
    display: block;
    margin-bottom: 5px;
    a {
      font-size: 26px;
      color: #FFF;
    }
  }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {
  .drawer li a {
    font-size: 19px;
  }
}

@media screen and ( max-width: 575px) {
  .header__navigation .buttonDrawer .buttonText {
    display: none;
  }
  .drawer li a {
    font-size: 17px;
  }
}