// Color navigation
$nav-color: #4a555e;
// Global
html,
body {
    font-size: 16px;
    font-family: 'Asap', sans-serif;
    color: #000000;
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-content {
    border-radius: 15px;
    border: none;
}

.modal-backdrop {
    background-color: rgba(255, 164, 1, 0.7) !important;
}

.display {
    display: none !important;
}

// Helper class
.transition {
    transition: .4s ease-in-out;
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

// Contact form alert bootstrap
div.wpcf7-validation-errors {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    padding: 10px 10px;
}

span.wpcf7-not-valid-tip {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: 10px 10px;
}

div.wpcf7-mail-sent-ng {
    clear: both;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    padding: 10px 10px;
}

div.wpcf7-mail-sent-ok {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    clear: both;
}

a {
    &:active {
        text-decoration: none;
        outline: none;
    }
    &:focus {
        text-decoration: none;
        outline: none;
    }
    &:hover {
        text-decoration: none;
        outline: none;
    }
}

:focus {
    outline: none;
}

:hover {
    outline: none;
}

:active {
    outline: none;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

// Scroll Css
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid #F5F5F5;
    -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 575px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 765px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 990px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {}

@media screen and ( max-width: 575px) {}