.single-page {
    .bg-page {
        height: 500px;
        position: relative;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        .headerPage {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate( -50%, -50%);
            text-align: center;
            width: 80%;
            p {
                color: #ffa401;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 0px;
            }
            h3 {
                font-size: 50px;
                color: #FFF;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    .content-page {
        .desc-page {
            padding: 100px 200px 200px 200px;
            p {
                font-size: 20px;
            }
        }
    }
}

.rentcar {
    .left-side.singlePage {
        .single-car.active {
            .bg {
                &:after {
                    display: none;
                }
            }
        }
    }
}

.single-car {
    .btn-container {
        a {
            background-color: #ffa401;
            display: inline-block;
            padding: 5px 30px;
            border-radius: 25px;
            color: #000;
            font-size: 14px;
        }
    }
    .fullHeight {
        height: 100%;
    }
    .blackInfo {
        height: 100%;
        background-color: #0c0c0c;
        padding: 10px 40px 20px 40px;
        .btn-back {
            border-bottom: 1px solid #1f1f1f;
            padding-bottom: 15px;
            padding-left: 40px;
            a {
                font-size: 13px;
                color: #FFF;
                background-image: url(../../img/ikona-powrot@2.png );
                background-position: left center;
                background-repeat: no-repeat;
                background-size: 28px 12px;
                padding: 10px 0 10px 50px;
            }
        }
        .nameCar {
            padding-left: 40px;
            h3 {
                font-size: 45px;
                font-weight: 700;
                color: #FFF;
                margin-top: 40px;
            }
        }
        .infoCar {
            padding-top: 30px;
            padding-left: 40px;
            .optionCar {
                p {
                    color: #FFF;
                    font-size: 15px;
                    margin-bottom: 0px;
                }
            }
        }
        .btn-reservation {
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 40px;
            .OpenModal {
                border: none;
                outline: none;
                font-size: 15px;
                font-weight: 700;
                color: #000;
                background-color: #ffa401;
                padding: 18px 40px;
                border-radius: 25px;
                -webkit-transition: .4s ease-in-out;
                -o-transition: .4s ease-in-out;
                transition: .4s ease-in-out;
                &:hover {
                    opacity: .6;
                    cursor: pointer;
                }
            }
            .modal-content {
                margin-left: 10px;
                margin-right: 10px;
                padding: 0px 40px 40px 40px;
                position: relative;
                .close {
                    outline: none;
                    border: none;
                    background-color: transparent;
                    position: absolute;
                    right: 13px;
                    top: 0px;
                    span {
                        font-size: 23px;
                    }
                }
            }
            .modal-body .modal-form .wpcf7-list-item {
                margin-left: 0px;
            }
            .modal-header {
                flex-direction: column;
                align-items: center;
                h5 {
                    font-size: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p {
                    font-size: 15px;
                    margin-bottom: 0px;
                }
            }
            .modal-dialog {
                max-width: 700px;
            }
            .modal-body {
                .flexContainer {
                    display: flex;
                    justify-content: space-between;
                }
                img {
                    max-height: 100px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                .modal-left {
                    text-align: center;
                    max-width: 40%;
                    flex: 0 0 40%;
                    padding: 30px 15px;
                    h3 {
                        font-size: 26px;
                        margin-bottom: 0px;
                        text-transform: uppercase;
                        line-height: 19px;
                    }
                    a {
                        font-size: 26px;
                        font-weight: 700;
                        color: #000;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                .modal-center {
                    max-width: 10%;
                    flex: 0 0 10%;
                    justify-content: center;
                    align-content: center;
                    display: flex;
                    align-items: center;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translateX( -50%);
                        width: 1px;
                        height: 100%;
                        background-color: #cbcbcb;
                    }
                    p {
                        font-size: 15px;
                        padding-top: 10px;
                        background-color: #FFF;
                        padding-bottom: 10px;
                        position: relative;
                        margin-bottom: 0px;
                    }
                }
                .modal-right {
                    text-align: center;
                    max-width: 40%;
                    flex: 0 0 40%;
                    padding: 30px 15px;
                    a {
                        outline: 0;
                        font-size: 15px;
                        font-weight: 700;
                        color: #000;
                        background-color: #ffa401;
                        padding: 18px 40px;
                        border-radius: 25px;
                        -webkit-transition: .4s ease-in-out;
                        -o-transition: .4s ease-in-out;
                        transition: .4s ease-in-out;
                        &:hover {
                            opacity: 0.6;
                        }
                    }
                    img {
                        margin-bottom: 40px;
                    }
                }
                .modal-form {
                    max-width: 100%;
                    flex: 0 0 100%;
                    display: none;
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-top: 15px;

                    ::-webkit-input-placeholder {
                        /* Chrome/Opera/Safari */
                        color: #000;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    ::-moz-placeholder {
                        /* Firefox 19+ */
                        color: #000;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    :-ms-input-placeholder {
                        /* IE 10+ */
                        color: #000;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    :-moz-placeholder {
                        /* Firefox 18- */
                        color: #000;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    p {
                        margin-bottom: 0px;
                    }
                    .your-name {
                        input {
                            background-image: url(../../img/formularz-osoba@2.png );
                            background-repeat: no-repeat;
                            background-position: 10px center;
                            background-size: 22px 22px;
                            padding-left: 40px;
                        }
                    }
                    .your-tel {
                        input {
                            background-image: url(../../img/formularz-telefon@2.png );
                            background-repeat: no-repeat;
                            background-position: 10px center;
                            background-size: 22px 22px;
                            padding-left: 40px;
                        }
                    }
                    .your-email {
                        input {
                            background-image: url(../../img/formularz-mail@2.png );
                            background-repeat: no-repeat;
                            background-position: 10px center;
                            background-size: 22px 22px;
                            padding-left: 40px;
                        }
                    }
                    .date-626 {
                        input {
                            background-image: url(../../img/formularz-kalendarz@2.png );
                            background-repeat: no-repeat;
                            background-position: 10px center;
                            background-size: 22px 22px;
                            padding-left: 40px;
                        }
                    }
                    .date-544 {
                        input {
                            background-image: url(../../img/formularz-kalendarz@2.png );
                            background-repeat: no-repeat;
                            background-position: 10px center;
                            background-size: 22px 22px;
                            padding-left: 40px;
                        }
                    }
                    input {
                        background-color: #dfdfdf;
                        outline: 0;
                        border: none;
                        border-radius: 25px;
                        width: 100%;
                        margin-bottom: 10px;
                        padding: 10px 15px;
                        width: 100%;
                        color: #000;
                        font-weight: 700;
                        font-size: 15px;
                    }
                    label {
                        width: 100%;
                        font-weight: 700;
                        text-align: center;
                    }
                    textarea {
                        width: 100%;
                        border: none;
                        outline: none;
                        height: 45px;
                        min-height: 45px;
                        max-height: 200px;
                        max-width: 100%;
                        min-width: 100%;
                        font-weight: 700;
                        padding: 10px 15px 10px 40px;
                    }
                    .wpcf7-list-item {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        width: 100%;
                        border-top: 1px solid #cbcbcb;
                        label {
                            width: auto;
                            font-weight: 400;
                            display: flex;
                            text-align: left;
                        }
                        span {
                            padding-left: 20px;
                        }
                        input {
                            margin-top: 0px;
                            font-size: 30px;
                            width: 150px;
                            height: 55px;
                        }
                    }
                    input[type="submit"] {
                        border: none;
                        outline: 0;
                        font-size: 15px;
                        font-weight: 700;
                        color: #000;
                        background-color: #ffa401;
                        padding: 18px 40px;
                        border-radius: 25px;
                        -webkit-transition: .4s ease-in-out;
                        -o-transition: .4s ease-in-out;
                        transition: .4s ease-in-out;
                        width: auto;
                        margin: 0 auto;
                        display: block;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.6;
                        }
                        &:disabled {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
        .rentTime {
            .netto {
                padding-left: 40px;
                p {
                    color: #FFF;
                    margin-bottom: 0px;
                    font-size: 14px;
                }
            }
            .headerRent {
                margin-top: 40px;
                margin-bottom: 40px;
                padding-left: 40px;
                padding-top: 20px;
                padding-bottom: 20px;
                background-color: #000;
                h3 {
                    color: #ffa401;
                    margin-bottom: 0px;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
            .boxRent {
                .rentInfo {
                    display: flex;
                    border-bottom: 1px solid #1f1f1f;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    padding-left: 40px;
                    .time {
                        max-width: 50%;
                        flex: 0 0 50%;
                        p {
                            color: #FFF;
                            margin-bottom: 0px;
                            font-size: 20px;
                        }
                    }
                    .coast {
                        max-width: 50%;
                        flex: 0 0 50%;
                        p {
                            color: #FFF;
                            margin-bottom: 0px;
                            font-size: 26px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
    .carThumb {
        padding: 100px 200px;
        border-top: 1px solid #cbcbcb;
        .thumb {
            // display: flex;
            // height: 100%;
            // justify-content: center;
            text-align: center;
            img {
                width: auto;
                align-self: center;
                max-height: 600px;
            }
        }
        .equipment {
            padding-left: 50px;
            padding-right: 50px;
            .headerEquipment {
                h3 {
                    font-size: 26px;
                    font-weight: 700;
                    color: #000;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
            }
            .equipmentSingle {
                margin-bottom: 10px;
                margin-top: 10px;
                p {
                    font-size: 15px;
                    position: relative;
                    padding-left: 40px;
                    display: flex;
                    &:after {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background-color: #ffa401;
                        position: absolute;
                        top: 50%;
                        transform: translateY( -50%);
                        left: 0;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 1900px) {
    .single-car .carThumb .equipment {
        padding-left: 50px;
        padding-right: 0px;
    }
}

@media screen and ( max-width: 1800px) {
    .single-car .carThumb {
        padding: 100px 150px;
    }
}

@media screen and ( max-width: 1600px) {
    .single-car .carThumb .equipment {
        padding-left: 0px;
    }
    .single-car .carThumb {
        padding: 100px 100px;
    }
}

@media screen and ( max-width: 1500px) {
    .single-car .blackInfo .nameCar h3 {
        font-size: 40px;
    }
}

@media screen and ( max-width: 1399px) {
    .single-car .blackInfo .btn-back,
    .single-car .blackInfo .nameCar,
    .single-car .blackInfo .btn-reservation,
    .single-car .blackInfo .infoCar,
    .single-car .blackInfo .rentTime .headerRent,
    .single-car .blackInfo .rentTime .headerRent,
    .single-car .blackInfo .rentTime .boxRent .rentInfo,
    .single-car .blackInfo .rentTime .netto {
        padding-left: 10px;
    }
    .single-car .blackInfo .nameCar h3 {
        font-size: 35px;
    }
    .single-car .blackInfo {
        padding: 10px 15px 20px 15px;
    }
    .single-car .carThumb {
        padding: 100px 80px;
    }
    .single-page .content-page .desc-page {
        padding: 100px 100px 100px 100px;
    }
    .single-page .bg-page .headerPage h3 {
        font-size: 45px;
    }
    .single-car .blackInfo .btn-reservation .OpenModal {
        padding: 11px 35px;
    }
}

@media screen and ( max-width: 1199px) {
    .single-car .carThumb {
        padding: 100px 50px;
    }
    .single-car .blackInfo .rentTime .boxRent .rentInfo .coast p {
        font-size: 21px;
    }
    .single-car .blackInfo .rentTime .boxRent .rentInfo .time p {
        font-size: 18px;
        padding-top: 3px;
    }
    .single-page .bg-page .headerPage h3 {
        font-size: 40px;
    }
    .single-car .blackInfo .btn-back,
    .single-car .blackInfo .nameCar,
    .single-car .blackInfo .btn-reservation,
    .single-car .blackInfo .infoCar,
    .single-car .blackInfo .rentTime .boxRent .rentInfo {
        padding-left: 0px;
    }
}

@media screen and ( max-width: 991px) {
    .single-car .btn-container a {
        padding: 5px 15px;
        font-size: 13px;
    }
    .single-car .blackInfo .rentTime .boxRent {
        padding-bottom: 30px;
    }
    .single-car .blackInfo {
        order: 2;
        height: auto;
        border-bottom: 1px solid #1f1f1f;
        padding: 10px 120px 20px 120px;
    }
    .single-car .blackInfo .btn-reservation .OpenModal {
        padding: 18px 45px;
    }
    .single-car .carThumb {
        order: 1;
        padding: 20px 50px;
    }
    .single-page .content-page .desc-page p {
        font-size: 18px;
    }
    .single-page .bg-page .headerPage h3 {
        font-size: 35px;
    }
    .single-page .bg-page {
        height: 450px;
    }
    .single-page .content-page .desc-page {
        padding: 100px 35px 100px 35px;
    }
    .single-car .blackInfo .nameCar h3 {
        font-size: 45px;
    }
    .single-car .blackInfo .btn-back,
    .single-car .blackInfo .btn-reservation,
    .single-car .blackInfo .infoCar,
    .single-car .blackInfo .nameCar,
    .single-car .blackInfo .rentTime .boxRent .rentInfo,
    .single-car .blackInfo .rentTime .headerRent,
    .single-car .blackInfo .rentTime .netto {
        padding-left: 50px;
    }
}

@media screen and ( max-width: 767px) {
    .single-car .blackInfo .btn-reservation .modal-content  {
            padding: 0 20px 20px 20px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-right a {
        font-size: 13px;
    }
    .single-car .blackInfo .btn-reservation .OpenModal {
        padding: 11px 35px;
    }
    .single-car .blackInfo .nameCar h3 {
        font-size: 35px;
    }
    .single-page .content-page .desc-page {
        padding: 80px 15px 80px 15px;
    }
    .single-page .content-page .desc-page p {
        font-size: 16px;
    }
    .single-car .carThumb {
        padding: 20px 15px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form {
        padding-left: 50px;
        padding-right: 50px;
    }
    .modal-dialog {
        margin: auto;
    }
    span.wpcf7-not-valid-tip {
        font-size: 11px;
    }
    .single-car .blackInfo {
        padding: 10px 60px 20px 60px;
    }
}

@media screen and ( max-width: 575px) {
    .single-car .blackInfo .btn-reservation .modal-content  {
            padding: 0 0px 0px 0px;
    }
    .single-car .blackInfo {
        padding: 10px 15px 20px 15px;
    }
    .single-car .blackInfo .btn-back,
    .single-car .blackInfo .btn-reservation,
    .single-car .blackInfo .infoCar,
    .single-car .blackInfo .nameCar,
    .single-car .blackInfo .rentTime .boxRent .rentInfo,
    .single-car .blackInfo .rentTime .headerRent,
    .single-car .blackInfo .rentTime .netto {
        padding-left: 15px;
    }
    .single-page .bg-page .headerPage {
        width: 100%;
    }
    .single-page .bg-page .headerPage h3 {
        font-size: 25px;
    }
    .single-car .carThumb {
        padding: 20px 15px;
    }
    .single-car .carThumb .equipment .equipmentSingle p {
        margin-bottom: 0px;
    }
    .single-car .blackInfo .btn-reservation .modal-body img {
        max-height: 80px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-left h3 {
        font-size: 18px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-left a {
        font-size: 18px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-right,
    .single-car .blackInfo .btn-reservation .modal-body .modal-left {
        padding: 30px 0px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-right a {
        font-size: 11px;
            padding: 14px 14px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form {
        padding-left: 10px;
        padding-right: 10px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form .wpcf7-list-item span {
        font-size: 13px;
    }
    .single-car .blackInfo .btn-reservation .modal-header h5 {
        font-size: 16px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form input {
        font-size: 13px;
    }
    .single-car .blackInfo .btn-reservation .modal-content {
         margin-left: 0px;
        width: 95%;
        margin: 0 auto;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form input {
        padding: 7px 15px;
    }
    .single-car .blackInfo .btn-reservation .modal-body .modal-form  {
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #000;
            font-weight: 700;
            font-size: 13px;
        }
        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #000;
            font-weight: 700;
            font-size: 13px;
        }
        :-ms-input-placeholder {
            /* IE 10+ */
            color: #000;
            font-weight: 700;
            font-size: 13px;
        }
        :-moz-placeholder {
            /* Firefox 18- */
            color: #000;
            font-weight: 700;
            font-size: 13px;
        }
    }
}
