.rentForm {
  input {
    display: none;
  }
}

.wrapper-footer {
  background-color: #0c0c0c;
  padding: 40px 15px 40px 15px;
  .column {
    .footer-nav {
      padding-left: 0px;
      margin-bottom: 0px;
      li {
        display: block;
        a {
          font-size: 15px;
          color: #FFF;
        }
      }
    }
    h2 {
      color: #FFF;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    p {
      font-size: 15px;
      color: #FFF;
      margin-bottom: 0px;
    }
    h3 {
      color: #FFF;
    }
    a {
      font-size: 15px;
      color: #ffa401;
    }
  }
}

.weblider {
  img {
    width: 86px;
    height: 15px;
  }
}

@media screen and ( max-width: 1399px) {
  .wrapper-footer .column h2 {
    font-size: 20px;
  }
  .wrapper-footer .column .footer-nav li a {
    font-size: 13px;
  }
  .wrapper-footer .column p {
    font-size: 13px;
  }
  .wrapper-footer .column h3 {
    font-size: 20px;
  }
}

@media screen and ( max-width: 1199px) {
  .wrapper-footer {
    padding: 40px 15px 40px 15px;
  }
}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {
  .wrapper-footer .column .footer-nav li {
    margin-bottom: 0px;
  }
  .wrapper-footer .column h2 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

@media screen and ( max-width: 575px) {}