.top {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    .scroll-downs {
        margin: auto;
        width: 34px;
        height: 55px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        p {
            color: #919191;
            font-size: 13px;
            width: 300px;
            margin-bottom: 0px;
            margin-top: 6px;
            margin-left: 30px;
            letter-spacing: 1px;
        }
    }
    .mousey {
        width: 3px;
        padding: 3px 6px;
        height: 20px;
        border: 2px solid #FFF;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
        float: left;
    }
    .scroller {
        width: 3px;
        height: 5px;
        border-radius: 25%;
        background-color: #FFF;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
    }
    @keyframes scroll {
        0% {
            opacity: 0;
        }
        10% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(10px);
            opacity: 0;
        }
    }
}

.container-layout {
    overflow: hidden;
    padding-left: 0px;
    .fullHeight {
        height: 100%;
    }
    .left-side {
        padding-right: 0px;
        .textFront {
            justify-content: center;
            display: flex;
            flex-direction: column;
        }
        .desc {
            position: relative;
            padding-bottom: 250px;
            p {
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            h2 {
                font-size: 70px;
                font-weight: 700;
                color: #FFF;
                text-transform: uppercase;
            }
            .znacznik {
                width: 183px;
                height: 83px;
                background-image: url(../../img/metka-cena.png );
                background-repeat: no-repeat;
                text-align: center;
                padding-left: 20px;
                p {
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                }
                h3 {
                    font-size: 72px;
                    font-weight: 700;
                    line-height: 44px;
                }
            }
        }
    }
    .right-side {
        background-color: #000;
        padding: 15px 15px 30px 20px;
    }
}

.right-side.mobile {
    display: none;
}

#sidebar {
    .headerSide {
        margin-bottom: 50px;
        margin-top: 5px;
        h3 {
            color: #FFF;
            font-size: 26px;
            font-weight: 700;
        }
    }
    .titleBox {
        p {
            font-size: 16px;
            color: #ffa401;
            background-color: #111111;
            padding: 15px 15px;
            margin-bottom: 0px;
        }
    }
    .car-box {
        margin-top: 20px;
        margin-bottom: 20px;
        .single-car {
            &:hover {
                cursor: pointer;
                .bg {
                    background-color: #111111;
                }
                h3 {
                    color: #FFF;
                }
            }
            .bg {
                background-color: transparent;
                transition: .4s ease-in-out;
                border-radius: 5px;
                padding: 20px 20px;
                text-align: center;
                h3 {
                    color: #919191;
                    font-size: 13px;
                    transition: .4s ease-in-out;
                }
                img {
                    max-height: 120px;
                    width: auto;
                }
            }
        }
        .single-car.active {
            .bg {
                background-color: #111111;
            }
        }
    }
    .navCar {
        margin-top: 20px;
        .option {
            text-align: center;
            &:hover {
                cursor: pointer;
                .bg {
                    background-color: #111111;
                    p {
                        font-weight: 700;
                        color: #FFF;
                    }
                }
            }
            .bg {
                background-color: transparent;
                transition: .4s ease-in-out;
                border-radius: 5px;
                padding: 0px 20px 20px 20px;
            }
            p {
                margin-bottom: 0px;
                color: #919191;
                font-size: 13px;
                transition: .4s ease-in-out;
            }
            img {
                max-height: 120px;
            }
        }
        .option.active {
            .bg {
                background-color: #111111;
                p {
                    font-weight: 700;
                    color: #FFF;
                }
            }
        }
    }
    .btn-container {
        margin-top: 30px;
        text-align: center;
        .pageCarForm {
            display: none;
        }
        .gearBoxForm {
            display: none;
        }
        a {
            border: none;
            outline: none;
            font-size: 15px;
            font-weight: 700;
            color: #000000;
            background-color: #ffa401;
            padding: 18px 40px;
            border-radius: 25px;
            transition: .4s ease-in-out;
            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
}

@media screen and ( max-width: 1700px) {
    #sidebar .navCar .option .bg {
        padding: 0px 00px 10px 0px;
    }
}

@media screen and ( max-width: 1600px) {
    .container-layout .right-side {
        padding: 15px 15px 30px 15px;
    }
    .container-layout .left-side .desc h2 {
        font-size: 50px;
    }
    #sidebar .navCar .option .bg {
        padding: 0px 0px 10px 0px;
    }
    #sidebar .car-box .single-car .bg {
        padding: 10px 20px;
    }
}

@media screen and ( max-width: 1399px) {
    #sidebar .car-box .single-car .bg img {
        max-height: 60px;
    }
    #sidebar .navCar .option img {
        max-height: 60px;
    }
    #sidebar .car-box {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    #sidebar .navCar {
        margin-top: 10px;
    }
    #sidebar .btn-container a {
        padding: 13px 35px;
    font-size: 14px;
    }
    .top {
        background-position: -135px 0px;
    }
    .container-layout .left-side .desc {
        padding-bottom: 80px;
    }
    #sidebar .navCar .option p {
        font-size: 11px;
    }
    #sidebar .car-box .single-car .bg h3 {
        font-size: 11px;
    }
    #sidebar .car-box .single-car .bg {
        padding: 10px 5px;
    }
    #sidebar .navCar .option .bg {
        padding: 0px 0px 10px 0px;
    }
    #sidebar .navCar .option {
        &:nth-child(1) {
            padding-right: 0px;
            padding-left: 15px;
        }
        &:nth-child(2) {
            padding-left: 7px;
            padding-right: 7px;
        }
        &:nth-child(3) {
            padding-left: 0px;
            padding-right: 15px;
        }
    }
}

@media screen and ( max-width: 1199px) {

    .top {
        background-position: -390px 0;
    }
}

@media screen and ( max-width: 991px) {
    .container-layout .right-side {
        padding: 15px 10px 30px 10px;
    }
    .top {
        height: 800px;
        background-position: -530px 0;
    }
    .container-layout .left-side .desc {
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: -170px;
    }
    #sidebar .headerSide h3 {
        font-size: 19px;
    }
    #sidebar .headerSide {
        margin-bottom: 30px;
        margin-top: 2px;
    }
    #sidebar .titleBox p {
        font-size: 14px;
        padding: 10px 15px;
    }
    #sidebar .car-box {
        margin-bottom: 20px;
    }
    #sidebar .btn-container a {
        font-size: 12px;
        padding: 15px 25px;
    }
    .top .scroll-downs {
        display: none;
    }
}

@media screen and ( max-width: 767px) {
    .container-layout .left-side .desc {
        padding-bottom: 0px;
        padding-left: 0px;
        margin-top: 0px;
    }
    .container-layout .right-side {
        display: none;
    }
    .right-side.desktop {
        display: none;
    }
    .right-side.mobile {
        display: block;
    }
    #sidebar.right-side.mobile {
        .car-box .single-car .bg img {
            max-height: 100px;
        }
        .navCar .option .bg img {
            max-height: 100px;
        }
        .headerSide {
            padding-left: 15px;
        }
    }
    .container-layout .left-side .desc {
        padding-left: 0px;
        text-align: center;
    }
    .container-layout .left-side .desc h2 {
        margin-bottom: 30px;
    }
    .container-layout .left-side .desc .znacznik {
        margin: 0 auto;
    }
    .container-layout .left-side .desc .znacznik p {
        font-size: 13px;
    }
    .container-layout .left-side .desc .znacznik h3 {
        font-size: 60px;
        line-height: 50px;
    }
    .top {
        background-position: -300px 0;
        height: 600px;
    }
    .container-layout .left-side .desc {
        padding-bottom: 0px;
    }
}

@media screen and ( max-width: 575px) {
    .container-layout .left-side .desc {
        padding-top: 40px;
    }
    .container-layout .left-side .desc h2 {
        font-size: 31px;
    }
    .container-layout .left-side .desc .znacznik {
        width: 163px;
        height: 63px;
        padding-left: 0px;
        background-size: contain;
    }
    .container-layout .left-side .desc .znacznik p {
        letter-spacing: 1px;
    }
    .container-layout .left-side .desc .znacznik h3 {
        font-size: 50px;
        line-height: 41px;
    }
    .container-layout .left-side .desc h2 {
        font-size: 35px;
    }
    .container-layout .left-side .desc p {
        font-size: 13px;
        margin-bottom: 0px;
    }
    .top {
        height: 400px;
        background-position: -150px 0;
    }
}

@media screen and ( max-width: 400px) {
    .top {
        background-position: -300px 0;
    }
}
