.googlemap {
    position: relative;
    .header_title {
        text-align: center;
        position: absolute;
        top: 30px;
        left: 0px;
        width: 100%;
        height: auto;
        z-index: 1;
        h2 {
            font-size: 40px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
        }
    }
    #map {
        width: 100%;
        height: 600px;
    }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {
    .googlemap .header_title h2 {
        font-size: 30px;
    }
}

@media screen and ( max-width: 575px) {
    .googlemap .header_title h2 {
        font-size: 25px;
    }
}