.obsluga {
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding: 150px 0px;
    .header_title {
        margin-bottom: 100px;
        text-align: center;
        h2 {
            font-size: 40px;
            font-weight: 700;
            color: #FFF;
            text-transform: uppercase;
        }
    }
    .single-box {
        padding: 50px 50px;
        h2 {
            font-size: 26px;
            font-weight: 700;
            color: #FFF;
            margin-bottom: 30px;
        }
        .desc_box {
            p {
                font-size: 15px;
                color: #FFF;
            }
        }
    }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {
    .obsluga {
        padding: 100px 0;
        .header_title {
            h2 {
                font-size: 30px;
            }
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
        .single-box {
            padding: 20px 20px;
            h2 {
                font-size: 21px;
            }
            .desc_box {
                p {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {}

@media screen and ( max-width: 575px) {
    .obsluga {
        padding: 100px 0;
        .header_title {
            margin-bottom: 50px;
            h2 {
                font-size: 22px;
            }
        }
        .single-box {
            h2 {
                margin-bottom: 10px;
                font-size: 19px;
            }
            .desc_box {
                p {
                    font-size: 13px;
                }
            }
        }
    }
}