.offer {
    background-color: #0c0c0c;
    .single-offer {
        &:hover {
            .bg {
                background-color: #ffa401;
                &:after {
                    opacity: 1;
                }
                img {
                    filter: brightness(0%);
                }
                h3 {
                    color: #000;
                }
                .descOffer {
                    p {
                        color: #000;
                    }
                }
                .btn-container {
                    p {
                        filter: brightness(0%);
                        padding: 40px 0px 40px 45px;
                    }
                }
            }
        }
        .bg {
            padding: 40px 40px;
            width: 100%;
            height: 100%;
            transition: .4s ease-in-out;
            position: relative;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -50px;
                left: 0px;
                width: 100%;
                height: 50px;
                background-color: #ffa401;
                opacity: 0;
                transition: all .4s ease-in-out;
            }
            img {
                max-height: 150px;
                width: auto;
                margin: 0 auto;
                display: block;
                transition: .4s ease-in-out;
            }
            h3 {
                font-size: 26px;
                font-weight: 700;
                color: #FFF;
                transition: .4s ease-in-out;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            .descOffer {
                p {
                    font-size: 15px;
                    color: #919191;
                    transition: .4s ease-in-out;
                }
            }
            .btn-container {
                margin-top: 40px;
                p {
                    background-image: url(../../img/wiecej@2.png );
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: 40px 40px;
                    padding: 40px 0px 40px 50px;
                    color: #FFF;
                    transition: .4s ease-in-out;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.offer.offer-page {
    .single-offer:hover .bg:after {
        display: none;
    }
}

@media screen and ( max-width: 1399px) {
    .offer .single-offer .bg h3 {
        font-size: 20px;
    }
    .offer .single-offer .bg .descOffer p {
        font-size: 14px;
    }
    .offer .single-offer .bg {
        padding: 20px 20px 80px 20px;
    }
    .offer .single-offer .bg:after {
        display: none;
    }
    .offer .single-offer {
        &:hover {
            .bg {
                .btn-container {
                    p {
                        padding: 20px 0 20px 45px;
                    }
                }
            }
        }
        .bg {
            .btn-container {
                position: absolute;
                bottom: 0px;
                left: 15px;
                width: 100%;
                p {
                    padding: 20px 0 20px 45px;
                }
            }
        }
    }
}

@media screen and ( max-width: 1199px) {
    .offer .single-offer {
        .bg {
            padding: 20px 15px 80px 15px;
        }
        &:nth-child(odd) {
            padding-right: 0px;
        }
        &:nth-child(even) {
            padding-left: 0px;
            padding-right: 5px;
        }
    }
}

@media screen and ( max-width: 991px) {
    .offer .single-offer .bg .descOffer p {
        font-size: 13px;
    }
    .offer .single-offer .bg h3 {
        font-size: 16px;
    }
    .offer .single-offer .bg img {
        max-height: 100px;
    }
    .offer {
        margin-top: -200px;
    }
}

@media screen and ( max-width: 767px) {
    .offer {
        margin-top: 0px;
    }
    .offer .single-offer {
        &:nth-child(odd) {
            padding-left: 15px;
            padding-right: 15px;
        }
        &:nth-child(even) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and ( max-width: 575px) {
    .offer .single-offer .bg h3 {
        margin-bottom: 20px;
    }
}