.questions {
    padding: 100px 15px;
    .header_title {
        text-align: center;
        margin-bottom: 80px;
        h2 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .single_questions {
        margin-bottom: 60px;
        padding: 0px 80px;
        a {
            position: relative;
            font-size: 16px;
            padding-left: 30px;
            color: #000;
            font-weight: 700;
            display: flex;
            position: relative;
            &:hover {
                &:before {
                    width: 30px;
                    height: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &:before {
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #ffa401;
                position: absolute;
                top: -10px;
                left: 0px;
                z-index: -1;
                transition: .4s ease-in-out;
            }
        }
    }
}

@media screen and ( max-width: 1800px) {
    .questions .single_questions {
        padding: 0 50px;
    }
}

@media screen and ( max-width: 1600px) {
    .questions .single_questions {
        padding: 0 25px;
    }
}

@media screen and ( max-width: 1399px) {}

@media screen and ( max-width: 1199px) {
    .questions .single_questions {
        padding: 0 15px;
    }
    .questions .header_title h2 {
        font-size: 30px;
    }
}

@media screen and ( max-width: 991px) {}

@media screen and ( max-width: 767px) {
    .questions .single_questions a {
        font-size: 14px;
    }
}

@media screen and ( max-width: 575px) {
    .questions .header_title h2 {
        font-size: 22px;
    }
}